
#flowchart{

}

.flowhead{
  width: 100%;
}

.flowhead h2{
  width: 49%;
  margin: 0 0 0.2in;
  padding: 0.1in 0;
  display: inline-block;
  vertical-align: middle;
}

.steps{
  display: flex;
  flex-direction: row;
}
.step{
  text-align: center;
  width: 1.75in;
  height: 0.8in;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 5;
}
.step:first-child{
  margin-right: .1in;
}
.step:last-child{
  margin-left: .1in;
}
.step.full{
  width: 51%;
}
.step.full .details{
  display: none;
  min-height: .8in;
}


.details{
  flex: 1;
}
.details h4{
  font-size: 1.3em;
  margin: .2em 0;
}
.details p{
  margin: .2em 0;
  /*display: none;*/
}
.details:first-child{
  text-align: right;
  margin-right: 0.075in;
}
.details:last-child{
  text-align: left;
  margin-left: 0.075in;
}



.ill{
  background-size: .5in;
  background-position: center;
  background-repeat: no-repeat;
  width: .8in;
  height: .8in;
  border-radius: .4in;
  margin: 0 auto;
  border: 3px solid hsla(182, 29%, 40%, 1);
  background-color: white;
  flex-shrink: 0;
}
#thirsty{
  background-image: url('Thirsty.png');
}
#thirstyB{
  background-image: url('ThirstyB.png');
}
#tapthat{
  background-image: url('TapThat.png');
}
#clean{
  background-image: url('Clean.png');
}
#germkill{
  background-image: url('Germkill.png');
}
#bottle{
  background-image: url('Bottle.png');
}
#trash{
  background-image: url('Trash.png');
}
#barge{
  background-image: url('Barge.png');
}
#plant{
  background-image: url('Plant.png');
}
#return{
  background-image: url('Return.png');
}




.transition{
  width: 100%;
  height: 0.3in;
  position: relative;
}
.transition .bar{
  height: 0.35in;
  width: 0.25in;
  display: inline-block;
  background-color: hsla(182, 29%, 40%, 1);
  position: absolute;
  top: -.02in;
  left: calc(1.75in - .4in - .125in);
  text-align: center;
}

.transition .bar .fa{
  font-size: 1.5em;
  line-height: 0.35in;
  color: white;
}



.transition .bar.double{
  height: 1.1in;
  border-left: 0.25in solid hsla(182, 29%, 40%, 1);
  border-right: 0.25in solid hsla(182, 29%, 40%, 1);
  width: 1.8in;
  background-color: hsla(182, 29%, 91%, 1);
  left: calc(1.75in + .2in + .4in - 0.125in);
  text-align: left;
  margin-top: -.4in;
}

.transition .bar.double.up, .transition .bar.double.down{
  border-color: hsla(182, 29%, 40%, 1);
  border-style: solid;
  text-align: center;
  position: relative;
}

.transition .bar.double.down{
  border-top-left-radius: 0.15in;
  border-top-right-radius: 0.15in;
  border-top-width: .25in;
  border-bottom-width: 0;
}

.transition .bar.double.up{
  border-bottom-left-radius: 0.15in;
  border-bottom-right-radius: 0.15in;
  border-bottom-width: .25in;
  border-top-width: 0;
}

.transition .bar.double .fa{
  margin-left: -0.17in;
  line-height: 1.1in;
  margin-top: 0.2em;
}

.transition .bar.double.down .fa{
  position: absolute;
  top: -0.69in;
}

.transition .bar.double.up .fa{
  margin-top: 0.43in;
}
